<h1><%= t('title', scope: @t_scope) %></h1>

<% if @bookmarks.count > 0 %>
  <% @bookmarks.each do |bookmark| %>
    <article class="poi-tile <%= "--#{bookmark.poi.category}" %>">
      <%= link_to bookmark, class: "poi-tile_link" do %>
        <span class="poi-tile_category"><%= bookmark.poi.category.humanize %></span>
        <span class="poi-tile_name"><%= bookmark.poi.name.truncate(70) %></span>
      <% end %>
    </article>
  <% end %>
<% else %>
  <p><em><%= t('empty', scope: @t_scope) %></em></p>
  <p><em><%= t('empty_instructions', scope: @t_scope) %></em></p>
<% end %>