<h1>Edit my account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <p class="field_help"><%= @minimum_password_length %> characters minimum</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    <p class="field_help">To make your desired changes, we need your current password</p>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "button" %>
  </div>
<% end %>

<h2>Delete my account</h2>

<p>If you'd like to delete your account, click the button below.</p>

<p>Please be aware that <strong>all attractions, bookmarks and other data</strong> you've created will be <strong>permanently deleted</strong>.</p>

<div class="actions">
  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "ALL YOUR ATTRACTIONS AND OTHER DATA WILL BE PERMANENTLY DELETED! Are you sure you'd like to continue?" }, method: :delete, class: "button" %>
</div>
