<header class="home-header">
  <h1 class="home-header_logo">
    <svg class="sprite --logo" aria-label="<%= t('logo_alt', scope: @t_scope) %>">
      <use xlink:href="/assets/sprite.svg#logo"></use>
    </svg>
  </h1>
  <p class="home-header_tagline"><%= t('tagline_html', scope: @t_scope) %></p>
</header>

<% if @featured_pois.count > 0 %>
  <h2><%= t('featured_attractions', scope: @t_scope) %></h2>

  <% @featured_pois.each do |poi| %>
    <article class="poi-tile <%= "--#{poi.category}" %>">
      <%= link_to poi, class: "poi-tile_link" do %>
        <span class="poi-tile_category"><%= poi.category.humanize %></span>
        <span class="poi-tile_name"><%= poi.name.truncate(70) %></span>
      <% end %>
    </article>
  <% end %>
<% end %>

<% if @user_pois.count > 0 %>
  <h2><%= t('contributed_attractions', scope: @t_scope) %></h2>

  <% @user_pois.each do |poi| %>
    <article class="poi-tile <%= "--#{poi.category}" %>">
      <%= link_to poi, class: "poi-tile_link" do %>
        <span class="poi-tile_category"><%= poi.category.humanize %></span>
        <span class="poi-tile_name"><%= poi.name.truncate(70) %></span>
      <% end %>
    </article>
  <% end %>
<% end %>