<header class="home-header">
  <h1 class="home-header_logo">
    <svg class="sprite --logo" aria-label="<%= t('logo_alt', scope: @t_scope) %>">
      <use xlink:href="/assets/sprite.svg#logo"></use>
    </svg>
  </h1>
  <p class="home-header_tagline"><%= t('tagline_html', scope: @t_scope) %></p>
</header>

<% if @featured_pois.count > 0 %>
  <h2><%= t('featured_attractions', scope: @t_scope) %></h2>

  <%= render "shared/poi-listing", pois: @featured_pois %>
<% end %>

<% if @user_pois.count > 0 %>
  <h2><%= t('contributed_attractions', scope: @t_scope) %></h2>

  <%= render "shared/poi-listing", pois: @user_pois %>
<% end %>