<% @ft_scope = [:pois, :form] %>
<%= form_with(model: poi, local: true) do |form| %>
  <% if poi.errors.any? %>
    <div>
      <p><strong><%= t('error_count', scope: @ft_scope, count: poi.errors.count) %> <%= t('error_msg', scope: @ft_scope) %></strong></p>

      <ul>
      <% poi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category, t('category', scope: @ft_scope) %>
    <%= form.select :category, Poi.categories.collect {|name, id| [ name.humanize, name ] } %>
  </div>

  <div class="field">
    <%= form.label :name, t('name', scope: @ft_scope) %>
    <%= form.text_field :name %>
  </div>

  <div class="field-row">
    <div class="field">
      <%= form.label :lat, t('latitude', scope: @ft_scope) %>
      <%= form.text_field :lat %>
    </div>

    <div class="field">
      <%= form.label :lon, t('longitude', scope: @ft_scope) %>
      <%= form.text_field :lon %>
    </div>
  </div>

  <div class="field">
    <%= form.label :website, t('website', scope: @ft_scope) %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :price, t('price', scope: @ft_scope) %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description, t('description', scope: @ft_scope) %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rating, t('rating', scope: @ft_scope) %>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </div>

  <div class="field --switch">
    <%= form.label :public, t('public', scope: @ft_scope) %>
    <%= form.check_box :public %>
    <label for="poi_public" class="field_toggle"></label>
  </div>

  <% if current_user.admin? %>
    <div class="field --switch">
      <%= form.label :featured, t('featured', scope: @ft_scope) %>
      <%= form.check_box :featured %>
      <label for="poi_featured" class="field_toggle"></label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit t('submit', scope: @ft_scope), class: "button" %>
    <%= link_to t('cancel', scope: @ft_scope), pois_path %>
  </div>
<% end %>
