<%= form_with(model: poi, local: true) do |form| %>
  <% if poi.errors.any? %>
    <div>
      <p><strong><%= pluralize(poi.errors.count, "error") %> prohibited this attraction from being saved:</strong></p>

      <ul>
      <% poi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Poi.categories.collect {|name, id| [ name.humanize, name ] } %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </div>

  <div class="field --switch">
    <%= form.label :public %>
    <%= form.check_box :public %>
    <label for="poi_public" class="field_toggle"></label>
  </div>

  <% if current_user.admin? %>
    <div class="field --switch">
      <%= form.label :featured %>
      <%= form.check_box :featured %>
      <label for="poi_featured" class="field_toggle"></label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Save attraction", class: "button" %>
    <%= link_to 'Cancel', pois_path %>
  </div>
<% end %>
