<h1>Attractions</h1>

<% if @pois.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pois.each do |poi| %>
        <tr>
          <td><%= poi.name %></td>
          <td><%= poi.category.humanize %></td>
          <td><%= link_to 'Show', poi %></td>
          <% if current_user == poi.owner || current_user.admin? %>
            <td><%= link_to 'Edit', edit_poi_path(poi) %></td>
            <td><%= link_to 'Destroy', poi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><em>No attractions have been added.</em></p>
<% end %>

<%= link_to 'New attraction', new_poi_path %>
