<h1><%= t('title', scope: @t_scope) %></h1>

<%= link_to t('new', scope: @t_scope), new_poi_path %>

<% if @my_pois.count > 0 %>
  <% @my_pois.each do |poi| %>
    <article class="poi-tile <%= "--#{poi.category}" %>">
      <%= link_to poi, class: "poi-tile_link" do %>
        <span class="poi-tile_category"><%= poi.category.humanize %></span>
        <span class="poi-tile_name"><%= poi.name.truncate(70) %></span>
      <% end %>
    </article>
  <% end %>
<% else %>
  <p><em><%= t('empty', scope: @t_scope) %></em></p>
<% end %>

<% if current_user.admin? %>
  <h2><%= t('admin.heading', scope: @t_scope) %></h2>

  <% if @other_pois && @other_pois.count > 0 %>
    <table>
      <thead>
        <tr>
          <th><%= t('admin.name', scope: @t_scope) %></th>
          <th><%= t('admin.category', scope: @t_scope) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @other_pois.each do |poi| %>
          <tr>
            <td><%= poi.name %></td>
            <td><%= poi.category.humanize %></td>
            <td><%= link_to t('admin.show', scope: @t_scope), poi %></td>
            <% if current_user == poi.owner || current_user.admin? %>
              <td><%= link_to t('admin.edit', scope: @t_scope), edit_poi_path(poi) %></td>
              <td><%= link_to t('admin.destroy', scope: @t_scope), poi, method: :delete,
                      data: { confirm: t('admin.destroy_confirm', scope: @t_scope) } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><em><%= t('admin.empty', scope: @t_scope) %></em></p>
  <% end %>
<% end %>
