<h1><%= t('title', scope: @t_scope) %></h1>

<%= link_to t('new', scope: @t_scope), new_poi_path %>

<% if @my_pois.count > 0 %>
  <%= render "shared/poi-listing", pois: @my_pois %>
<% else %>
  <p><em><%= t('empty', scope: @t_scope) %></em></p>
<% end %>

<%= render "admin-index" %>
