<header class="poi-header">
  <h1 class="poi-header_heading">
    <span class="poi-header_category"><%= @poi.category.humanize %></span>
    <span class="poi-header_separator">:</span>
    <span class="poi-header_name"><%= @poi.name %></span>
  </h1>
  <% if @bookmark %>
    <%= link_to bookmark_path(@bookmark.id), method: :delete, title: "Remove bookmark", class: "poi-header_bookmark --marked" do %>
      <svg class="sprite --bookmark" aria-label="Remove bookmark">
        <use xlink:href="/assets/sprite.svg#bookmark_marked"></use>
      </svg>
    <% end %>
  <% else %>
    <%= link_to bookmarks_path(:"bookmark[poi_id]" => @poi.id), method: :post, title: "Bookmark attraction", class: "poi-header_bookmark --unmarked" do %>
      <svg class="sprite --bookmark" aria-label="Bookmark attraction">
        <use xlink:href="/assets/sprite.svg#bookmark_unmarked"></use>
      </svg>
    <% end %>
  <% end %>
</header>

<% if @poi.rating.present? %>
  <p><% @poi.rating.times do %>★<% end %></p>
<% end %>

<dl>
  <% if @poi.website.present? %>
    <dt>Website</dt>
    <dd><%= link_to URI.parse(@poi.website).host, @poi.website %></dd>
  <% end %>

  <% if @poi.website.present? %>
    <dt>Price</dt>
    <dd><%= @poi.price %></dd>
  <% end %>
</dl>

<%= simple_format(@poi.description) %>


<% if current_user && current_user.admin? %>
  <hr>

  <dl>
    <dt>Owner</dt>
    <dd><%= @poi.owner.email %></dd>

    <dt>Public</dt>
    <dd><%= @poi.public %></dd>

    <dt>Featured</dt>
    <dd><%= @poi.featured %></dd>
  </dl>

  <hr>
<% end %>

<div>
  <% if @poi.owner == current_user || (current_user && current_user.admin?) %>
    <%= link_to 'Edit', edit_poi_path(@poi) %> | 
  <% end %>
  <%= link_to 'Back', pois_path %>
</div>