<footer class="site-layout_footer">
  <nav class="site-layout_nav">
    <ul>
      <li><%= link_to t('nav.home', scope: :application), root_path %></li>
      <li><%= link_to t('nav.contact', scope: :application), contact_path %></li>
      <% unless user_signed_in? %>
        <li><%= link_to t('nav.login', scope: :application), new_user_session_path %></li>
        <li><%= link_to t('nav.signup', scope: :application), new_user_registration_path %></li>
      <% else %>
        <li><%= link_to t('nav.attractions', scope: :application), pois_path %></li>
        <li><%= link_to t('nav.bookmarks', scope: :application), bookmarks_path %></li>
        <li><%= link_to t('nav.account', scope: :application), edit_user_registration_path %></li>
        <li><%= link_to t('nav.logout', scope: :application), destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
  <small class="site-layout_legal">
    <%= t('copyright', scope: :application, year: Date.current.year) %>
  </small>
</footer>