<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      <% if @title %>
        <%= @title %>
      <% else %>
        <%= t('title', scope: @t_scope) %>
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="site-layout">
      <%= render "layouts/map" %>

      <main class="site-layout_content" data-js-site-content>
        <header>
          <% if notice %><p class="site-layout_notice"><%= notice %></p><% end %>
          <% if alert %><p class="site-layout_alert"><%= alert %></p><% end %>
        </header>
        <div class="site-layout_content-scroll">
          <%= yield %>
        </div>
      </main>
      <div class="site-layout_content-arrow"></div>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
