<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vancity Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="site-layout">
      <div id="map" class="site-layout_map" data-turbolinks-permanent data-js-map></div>

      <script>
        $.onmount('[data-js-map]', function () {
          resetMap();
          <% @featured_pois.each do |poi| %>
            addMarker(<%= poi.lat %>, <%= poi.lon %>, '<%= poi.category %>', <%= poi.id %>, '<%= poi.name %>');
          <% end %>
        });
      </script>

      <main class="site-layout_content" data-js-site-content>
        <header>
          <% if notice %><p class="site-layout_notice"><%= notice %></p><% end %>
          <% if alert %><p class="site-layout_alert"><%= alert %></p><% end %>
        </header>
        <div class="site-layout_content-scroll">
          <%= yield %>
        </div>
      </main>
      <div class="site-layout_content-arrow"></div>

      <footer class="site-layout_footer">
        <nav class="site-layout_nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <% unless user_signed_in? %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% else %>
              <li><%= link_to "My attractions", pois_path %></li>
              <li><%= link_to "My bookmarks", bookmarks_path %></li>
              <li><%= link_to "My account", edit_user_registration_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
        <small class="site-layout_legal">
          © <%= Date.current.year %> Vancity Guide
        </small>
      </footer>
    </div>
  </body>
</html>
